* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary-color: #fda085;
  --gradient-color: linear-gradient(to bottom, #f6d365 0%, #fda085 100%);
  --primary-color-light: #fff9e6;
  --background-color: #070500;
  --font-color: #fffcf4;
}

.App.draw {
  overflow: auto;
}

.App {
  background: var(--background-color);
  border-top-width: 20px;
  border-top-style: solid;
  border-image: linear-gradient(to bottom, #f6d365 0%, #fda085 100%) 100% 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}